 @model ShopCake.Models.Product  
@*  @model ShopCake.Areas.Admin.DTO.ProductDTO *@

@{
    ViewData["Title"] = "Edit Product";
}

<div class="container mt-5">
    <!-- Form Container -->
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg">
                <div class="card-header bg-warning text-white">
                    <h5 class="mb-0">Edit Product</h5>
                </div>
                <div class="card-body">
                    <form asp-action="Edit" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <!-- Hidden Input for Product ID -->
                        <input type="hidden" asp-for="PRO_ID" />

                        <!-- Category Select -->
                        <div class="form-group">
                            <label asp-for="CAT_ID" class="control-label"></label>
                            <select asp-for="CAT_ID" class="form-control" asp-items="ViewBag.CAT_ID"></select>
                            <span asp-validation-for="CAT_ID" class="text-danger"></span>
                        </div>

                        <!-- Avatar Upload -->
                        <div class="form-group">
                            <label asp-for="Avatar" class="control-label">Current Avatar</label>
                            <!-- Input để chọn ảnh mới -->
                            <div class="form-group">
                                <img  src="~/Data/Product/@Model.Avatar" alt="Current Avatar" style="max-width: 400px; height: 100px; margin-bottom: 10px;" />
                            <!-- Input để chọn ảnh mới -->
                            <div class="form-group">
                                <label>New Avatar Preview</label>
                                <img id="image-preview" src="~/Data/Product/@Model.Avatar" alt="Current Avatar" style="max-width: 400px; height: 100px; margin-bottom: 10px;" />
                               @*  <img id="image-preview" src="" alt="New Avatar Preview" style="max-width: 200px; height: auto; display: none; margin-top: 10px;" /> *@
                            </div>
                            <input asp-for="Avatar" class="form-control" type="file" accept="image/*" onchange="previewImage(event)" />
                            <span asp-validation-for="Avatar" class="text-danger"></span>
                        </div>




                        <!-- Name -->
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" type="text" maxlength="125" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <!-- Name -->
                        <div class="form-group">
                            <label asp-for="Quantity" class="control-label"></label>
                            <input asp-for="Quantity" class="form-control" type="number" min="0" max="500" required oninput="validatePrice(this)" />
                            <span asp-validation-for="Quantity" class="text-danger"></span>
                        </div>

                        <!-- Intro -->
                        <div class="form-group">
                            <label asp-for="Intro" class="control-label"></label>
                            <input asp-for="Intro" class="form-control" />
                            <span asp-validation-for="Intro" class="text-danger"></span>
                        </div>

                        <!-- Price -->
                        <div class="form-group col-md-2">
                            <label asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" class="form-control" type="number" min="0" max="1000" required oninput="validatePrice(this)" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <span id="error-message" style="color: red; font-size: 12px;"></span>
                        <!-- Discount Price -->
                        <div class="form-group col-md-2">
                            <label asp-for="DiscountPrice" class="control-label"></label>
                            <input asp-for="DiscountPrice" class="form-control" type="number" min="0" max="1000" required oninput="validatePrice(this)" />
                            <span asp-validation-for="DiscountPrice" class="text-danger"></span>
                        </div>
                        <span id="error-message" style="color: red; font-size: 12px;"></span>
                        <!-- Unit -->
                        <div class="form-group">
                            <label asp-for="Unit" class="control-label"></label>
                            <select asp-for="Unit" class="form-control">
                                <option value="Hộp">Hộp</option>
                                <option value="Combo 3">Combo 3</option>
                                <option value="Cỡ lớn">Cỡ lớn</option>
                                <option value="Cỡ nhỏ">Cỡ nhỏ</option>
                            </select>
                            <span asp-validation-for="Unit" class="text-danger"></span>
                        </div>

                        <!-- Rate -->
                        <div class="form-group col-md-2">
                            <label asp-for="Rate" class="control-label"></label>
                            <select asp-for="Rate" class="form-control">
                                <option value="1">1 Star</option>
                                <option value="2">2 Stars</option>
                                <option value="3">3 Stars</option>
                                <option value="4">4 Stars</option>
                                <option value="5">5 Stars</option>
                            </select>
                            <span asp-validation-for="Rate" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea asp-for="Description" id="Description" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <!-- Action Buttons -->
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-warning me-2">
                                <i class="fas fa-save"></i> Save
                            </button>
                            <a asp-controller="Products" asp-action="Index" class="btn btn-secondary">
                                <i class="fas fa-arrow-left"></i> Back to List
                            </a>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>

@section Header {
    <link rel="stylesheet" href="~/Admin/plugins/ckeditor5/ckeditor5.css">
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function validatePrice(input) {
            const errorMessage = document.getElementById("error-message");

            if (input.value > 1000) {
                errorMessage.textContent = "Yêu cầu nhập < 1000!";
                input.value = 1000;
            } else if (input.value < 0) {
                errorMessage.textContent = "Yêu cầu nhập giá trị > 0!";
                input.value = 1;
            } else {
                errorMessage.textContent = ""; // Xóa lỗi nếu giá trị hợp lệ
            }
 

        }
 


    </script>
    <script type="importmap">
        {
            "imports": {
                "ckeditor5": "/Admin/plugins/ckeditor5/ckeditor5.js",
                "ckeditor5/": "/Admin/plugins/ckeditor5/"
            }
        }
    </script>
    <script type="module">
        import {
            ClassicEditor,
            Essentials,
            Paragraph,
            Bold,
            Italic,
            Font
        } from 'ckeditor5';

        ClassicEditor
            .create(document.querySelector('#Description'), {
                plugins: [Essentials, Paragraph, Bold, Italic, Font],
                toolbar: [
                    'undo', 'redo', '|', 'bold', 'italic', '|',
                    'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor'
                ]
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(error => {
                console.error(error);
            });
    </script>
    <script>
        function previewImage(event) {
            const input = event.target;
            const preview = document.getElementById("imagePreview");

            // Kiểm tra xem có file nào được chọn không
            if (input.files && input.files[0]) {
                const reader = new FileReader();

                // Khi file được tải xong, gán đường dẫn hình ảnh vào thẻ img
                reader.onload = function (e) {
                    preview.src = e.target.result;
                    preview.style.display = "block"; // Hiển thị hình ảnh
                };

                // Đọc file ảnh dưới dạng URL
                reader.readAsDataURL(input.files[0]);
            } else {
                // Nếu không có file nào được chọn, ẩn hình ảnh
                preview.style.display = "none";
            }
        }
    </script>
    

    <script>
        function previewImage(event) {
            const input = event.target;
            const preview = document.getElementById('image-preview');

            if (input.files && input.files[0]) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    preview.src = e.target.result;
                    preview.style.display = 'block';
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>


    <partial name="_ValidationScriptsPartial" />
}

